.chat-side
  .chat-side__side-header
    family
    %ul.chat-side__item
      %li.fa.fa-edit
      %li.fa.fa-cog
  .chat-side__group-form
    %p.chat-side__group-form__group-names
      yasuyoshi
    %p.chat-side__group-form__group-messages
      まだメッセージはありません
    %p.chat-side__group-form__group1-names
      hagumi
    %p.chat-side__group-form__group1-messages
      パパこんにちは